Repository ENCODE-DCC/encoded, pull requests merged in 2019-04, with the labels that each got.

#2683 ENCD-4506 make fragmentation method a list
  src/encoded/audit/experiment.py
  src/encoded/schemas/changelogs/library.md
  src/encoded/schemas/library.json
  src/encoded/static/components/experiment.js
  src/encoded/tests/data/inserts/library.json
  src/encoded/tests/test_audit_experiment.py
  src/encoded/tests/test_schema_library.py
  src/encoded/tests/test_upgrade_library.py
  src/encoded/upgrade/library.py
Labels: Pending Travis Tests, Ready to Merge

#2676 SNO-85-facet-reappearing
  buildout.cfg
  src/encoded/static/components/search.js
  src/encoded/static/scss/encoded/modules/_facet.scss
  src/encoded/tests/test_search.py
Labels: Pending Code Review, Ready to Merge

#2672 ENCD-4349 restrict gm reagents
  src/encoded/audit/genetic_modification.py
  src/encoded/schemas/changelogs/genetic_modification.md
  src/encoded/schemas/genetic_modification.json
  src/encoded/static/components/genetic_modification.js
  src/encoded/tests/data/inserts/genetic_modification.json
  src/encoded/tests/test_audit_genetic_modification.py
  src/encoded/tests/test_schema_genetic_modification.py
  src/encoded/tests/test_upgrade_genetic_modification.py
  src/encoded/upgrade/genetic_modification.py
Labels: in progress
